<!doctype html>
<html style="height:100%;">
<head>
    <title>Tagger</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css" rel="stylesheet"></link>
</head>
<body style="height:100%;">

<div id="content" class="container" style="
            width: 100%;
            height: 100%;
            float: right;
            z-index: 8000;
            margin-bottom:
            0px;">

     <div class="row">
        <div class="text-center">
            <text> {{ mask }} {{ head }}/{{ len }} </text>
        </div>
     </div>

    <div class="row" style="margin-bottom: 20px">
    {% if not_end %}
        <a href="/next?bad" class="btn btn-danger" style="float:left" type="button">
        <span class="glyphicon glyphicon-thumbs-down icon-red"></span>
      </a>
      <a href="/next?good" class="btn btn-success" style="float:right" type="button">
        <span class="glyphicon glyphicon-thumbs-up"></span>
      </a>
        </div>
        <div class="row">
    {% else %}
      <a href="/next" class="btn btn-primary" style="float:right;" type="button">
        <span class="glyphicon glyphicon-ok"> </span>
      </a>
    {% endif %}
    </div>

    <div class="well text-center">
    <span>Sister Properties:</span>
    <div class="col-md-6">
        <canvas id="canvas1" style="width:100%; height:80%; margin: 0; padding: 0;"></canvas>
    </div>
    <div class="col-md-6">
        <canvas id="canvas2" style="width:100%; height:80%; margin: 0; padding: 0;"></canvas>
    </div>
</div>

    <!-- <a href="/next" class="btn btn-primary" style="float:left;" type="button">
      <span class="glyphicon glyphicon-arrow-left"></span>
    </a> -->
    <script>
      var labels = {{ labels|tojson|safe }};
      var c = document.getElementById("canvas2");
      var ctx = c.getContext("2d");
      var image2 = new Image();
      console.log(image2);
      image2.onload = function(e) {
        ctx.canvas.width = image2.width;
        ctx.canvas.height = image2.height;
        c.width = image2.width;
        c.height = image2.height;
        ctx.drawImage(image2, 0, 0);
        console.log(labels);
      };
      image2.style.display="block";
      image2.src = "image/{{ mask }}";

      var clicked = false;
      var fPoint = {};

    </script>
</div>

</body>
</html>
